<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>here are your users</h1>
    {% if users%}

    <ol>
          {% for person in users %}
          <li>Users info</li>
          <ul>
            <li>first name :  {{ person.first_name }}</li>
            <li>last name :  {{ person.last_name }}</li>
            <li>email :  {{ person.first_name }}</li>
          </ul>
          {% endfor  %}
    </ol>

    {% endif %}
  </body>
</html>
